.aside-left table td{
    border: 1px solid black;
    min-width:220px;
    height:44px;
    text-align: center;
}

.aside-left{
    margin-left: 100px;
}
.aside-right{
    margin-right: 100px;
}