
body a{
    color:#999;
}
.surf-header{
    margin-top: -40px;
    margin-right:160px;
    float: right;
    width:300px;
    background-color: #ff0036;
}
.surf-header a{
    height: 28px;
    color:#fff;
    line-height: 30px;
    font-size: 14px;
}
.surf-header input{
    width:250px;
    height:30px;
    margin:2px 1px 1px 3px;
}
.title-uk{
    font-size: 40px;
    margin-left: 7px;
    font-family: "Times New Roman";
}
.log-tit{
    font-size: 25px;
    margin-left: 7px;
}

#head-nav {
    border-bottom:1px solid #ddd;
}
#head-nav .w{
    background-color: #e3e4e5;
    height:30px;
    line-height: 30px;
}
.hv-red:hover{
    color:red;
}
.hv-under:hover{
    text-decoration: underline;
}
.hv-yel:hover{
    color:yellow;
}
#head-nav li{
    list-style-type: none;
    float:left;
}
#head-nav li.spacer{
    overflow:hidden;
    margin:11px 5px 0;
    width:2px;
    height:10px;
    background-color:#ccc;
}
.dt{
    margin-right: 7px;
    margin-left: 7px;
}

.dt-link{
    background-color: #e3e4e5;
    font-weight:400;
}
.dt-link img{
    position: absolute;
    width:16px;
    height:17px;
    background-color: transparent;
    top:5px;
}
.dt-link img:hover{
    border:1px solid #fff;
}
ul.fr{
    margin-top:0;
    float:right;
    margin-right:10%;
}
#dialog{
    display: none;
}
.log-img{
    height: 120px;
    width: 120px;
    margin-top: -30px;
    margin-left: 140px;
}
.cart{
    margin-left: 19px;
}

#dialog button{
    width: 100px;
    height: 30px;
    margin: 5em;
    background-color: #ff0036;
    border: none;
    color: white;
}

#secOne{
    margin-top:80px;
}
#crumbs{
    margin-left: 160px;
}
.crumbs{
    display:inline;
    padding-left: 10px;
}
.crumbs li{
    display: inline;
}

#chooseImage{
    margin-left: -85px;
    opacity: 0;
}
.set2{
    margin-bottom: 50px;
}
.account-img{
    height:20px;
    width: 20px;
    background-color: transparent;
    position: absolute;
    top:5px;
}
.signout{
     margin-left: 15px;
 }

#cropedBigImg{
    max-height: 350px;
}

textarea{
    height: 100px;
}
#error{
    color: red;
}



